/**
 * Header Styles
 *
 * @author Daine Mawer
 * @version 1.0
 *
 */

@import "../../styles/variables";

.header {
  margin: 0 auto;
  max-width: 960px;
  padding: $s-xlarge $s-large;

  @media (min-width: $bp-medium) {
    padding: $s-xlarge $s-normal;
  }

  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.darkMode {
  background-color: transparent;
  border: 0;
  color: var(--text);
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
  }
}

.logo-link {
  display: flex;
  opacity: 1;
  transition: opacity 250ms ease-in-out;

  svg {
    color: var(--text);
  }

  &:hover,
  &:focus {
    opacity: 0.75;
    outline: 0;
  }
}

.logo {
  align-items: center;
  display: flex;
}

.welcome {
  font-size: $fs-small;
  margin: 0 0 0 1rem;
}

.navigation {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.navigation-item {
  margin-bottom: $s-normal;
  margin-right: $s-normal;

  @media (min-width: $bp-medium) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.navigation-link {
  border-bottom: 1px solid transparent;
  color: var(--text);
  font-family: $ff-family-primary;
  font-size: $fs-normal;
  font-weight: $fw-lead;
  padding-bottom: 5px;
  transition: border-bottom-color 250ms ease-in;

  @media (min-width: $bp-medium) {
    font-size: $fs-small;
  }

  &:hover,
  &:focus,
  &.is-active {
    border-bottom-color: var(--text);
    outline: 0;
  }

  &.sign-out {
    border: 0;
    display: flex;
    padding: 0;
    transition: opacity 250ms ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.65;
      outline: 0;
    }
  }
}

.menu {
  align-items: center;
  background-color: $c-white;
  box-shadow: 0 0 40px rgba($c-black, 0.15);
  height: 100vh;
  list-style-type: none;
  left: 0;
  margin: 0;
  max-width: 320px;
  opacity: 0;
  padding: $s-xlarge;
  position: fixed;
  top: 0;
  transition: visibility 250ms ease-in, opacity 250ms ease-in, transform 250ms ease-in-out;
  transform: translateX(-320px);
  visibility: hidden;
  width: 100%;
  z-index: 999;

  &.open {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }

  @media (min-width: $bp-medium) {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    height: auto;
    opacity: 1;
    padding: 0;
    position: static;
    transform: none;
    visibility: visible;
    width: auto;
  }
}

.menu-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  opacity: 1;
  padding: 0;
  transition: opacity 250ms ease-in;

  &:hover,
  &:focus {
    opacity: 0.65;
    outline: 0;
  }

  @media (min-width: $bp-medium) {
    display: none;
  }
}

.menu-title {
  display: block;
  margin: 0 0 $s-xlarge 0;

  @media (min-width: $bp-medium) {
    display: none;
  }
}

.icon {
  pointer-events: none;
}

.signout {
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 250ms ease-in;

  &:hover,
  &:focus {
    border-bottom-color: #313131;
    outline: 0;
  }
}
