.section {
	border-radius: 8px;
	margin-top: 2rem;
	padding: 3rem;
}

.paragraph {
	font-size: 1.125rem;
	line-height: 1.25;
	max-width: 420px;
}

.permalink {
	background-image: none;
	border-bottom: 1px solid #313131;
	color: #313131;
	font-size: 1.25rem;
	text-shadow: none;
	transition: border-bottom-color 250ms ease-in-out;
	padding-bottom: 5px;

	&:hover,
	&:focus {
		outline: 0;
	}
}

.title {
	margin: 0 0 1rem 0;
}

.wrap  {
	margin-bottom: 0;
}