/**
 * Banner Styles
 *
 * @author Daine Mawer
 * @version 1.0
 *
 */

@import "../../styles/variables";

.section {
	border-radius: 8px;
	margin-top: $s-xlarge;
	padding: $s-xxlarge;
}

.paragraph {
	font-size: $fs-lead;
	line-height: 1.25;
	max-width: 420px;
}

.permalink {
	border-bottom: 1px solid transparent;
	color: $c-mine-shaft;
	font-size: $fs-lead;
	transition: border-bottom-color 250ms ease-in-out;
	padding-bottom: 5px;

	&:hover,
	&:focus {
	  	border-bottom-color: $c-mine-shaft;
		outline: 0;
	}
}

.title {
	margin: 0 0 $fs-normal 0;
}

.wrap  {
	margin-bottom: 0;
}