/**
 * Access Styles
 *
 * @author Daine Mawer
 * @version 1.0
 *
 */

@import "../../styles/variables";

.section {
  border: 1px solid $c-mercury;
  border-radius: 8px;
  padding: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.paragraph {
  color: var(--text);
  font-size: 1.125rem;
}

.button {
  background-image: none;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  font-size: 1.25rem;
  padding-bottom: 5px;
}
