.section {
  border: 1px solid #E3E3E3;
  border-radius: 8px;
  padding: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.paragraph {
  font-size: 1.125rem;
}

.button {
  background-image: none;
  border-bottom: 1px solid #313131;
  color: #313131;
  font-size: 1.25rem;
  padding-bottom: 5px
}