.link {
	background-image: none;
	color: #313131;
	text-decoration: none;
}

.section {
	align-items: center;
	display: flex;
	margin: 3rem auto 1rem auto;
	max-width: 660px;
}

.image {
	border-radius: 50%;
  	height: auto;
	margin-bottom: 0;
  	width: 80px;
}

.info {
	margin-left: 1rem;
}

.title {
	font-size: 1.125rem;
	margin: 0 0 0.5rem 0;
}

.description {
	margin-bottom: 0;
}
