/**
 * Author Styles
 *
 * @author Daine Mawer
 * @version 1.0
 *
 */

@import "../../styles/variables";

.link {
  color: var(--text);
}

.section {
  align-items: center;
  display: flex;
  margin: $s-xxlarge auto $s-normal auto;
  max-width: 660px;
}

.image {
  border-radius: 50%;
  height: auto;
  margin-bottom: 0;
  width: 80px;
}

.info {
  margin-left: $s-normal;
}

.title {
  font-size: $fs-lead;
  margin: 0 0 $s-tiny 0;
}

.description {
  margin-bottom: 0;
}
