/**
 * Form Styles
 *
 * @author Daine Mawer
 * @version 1.0
 *
 */

@import "../../styles/variables";

.form {
  margin-bottom: 0;
}

.button {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--text);
  color: var(--text);
  cursor: pointer;
  font-size: $fs-lead;
  padding: 0 0 5px 0;
}

.fieldset {
  border: 0;
  padding: 0;
}

.input {
  appearance: none;
  border: 1px solid $c-silver;
  padding: 1rem;
  transition: border-color 250ms ease-in;
  width: 100%;

  &:focus {
    border-color: $c-mine-shaft;
    outline: 0;
  }
}

.textarea {
  appearance: none;
  border: 1px solid $c-silver;
  padding: $s-normal 10rem $s-normal $s-normal;
  resize: none;
  transition: border-color 250ms ease-in;
  width: 100%;

  &:focus {
    border-color: $c-mine-shaft;
    outline: 0;
  }
}

.error {
  background-color: $c-white;
  font-size: $fs-small !important;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  margin: 0;
}

.message {
  margin-bottom: 0;
}

.group {
  margin-bottom: $s-xlarge;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &.form-error {
    .error {
      color: $c-matrix;
    }
  }

  &.form-group-textarea.form-error {
    .error {
      max-width: 150px;
      top: $s-xxlarge;
    }
  }
}

.article {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: $s-normal 0;

  > div:nth-child(1) {
    flex: 0 1 100%;

    @media (min-width: $bp-medium) {
      flex: 0 1 calc(40% - 8px);
    }
  }

  > article {
    flex: 0 1 100%;

    @media (min-width: $bp-medium) {
      flex: 0 1 calc(60% - 8px);
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width: $bp-medium) {
      grid-gap: $s-xlarge;
      grid-template-columns: 4fr 8fr;
    }
  }
}
