/**
 * About Styles
 *
 * @author Daine Mawer
 * @version 1.0
 *
 */

@import "../../styles/variables";

.grid {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  > div:nth-child(1) {
    flex: 0 1 100%;

    @media (min-width: $bp-medium) {
      flex: 0 1 48%;
    }
  }

  > div:nth-child(2) {
    flex: 0 1 100%;

    @media (min-width: $bp-medium) {
      flex: 0 1 48%;
    }
  }

  @supports (display: grid) {
    display: grid;
    grid-gap: $s-xlarge;
    grid-template-columns: 1fr;

    @media (min-width: $bp-medium) {
      grid-template-columns: 1fr 1fr;
    }
  }

}

.image {
  border-radius: 8px;
  margin-bottom: 0;

  @media (min-width: $bp-medium) {
    margin-bottom: $s-normal;
  }
}

.section {
  margin-top: $s-xlarge;
}

.title {
  margin-bottom: $s-xlarge;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.certification-link {
  background-image: none;
  border-bottom: 1px solid $c-mine-shaft;
  color: var(--text);
  font-weight: $fw-bold;
}

.certification-item {
  color: var(--text);
  font-size: $fs-normal;
  margin-bottom: $s-medium;

  @media (min-width: $bp-medium) {
    font-size: $fs-lead;
  }
}
